<% content_for :header_tags do %>
  <%= javascript_include_tag('html.sortable.min.js', :plugin => 'redmine_materials') %>
<% end %>

<%# Dirty hack to get column names -%>
<% qry = MaterialQuery.new -%>
<div class="tab-wrapper">
  <fieldset class="columns-wrapper enabled">
    <legend><%= l(:label_columns_shown) %></legend>
    <div class="columns enabled" data-state="enabled">
      <span><%= l(:label_drop_to_show) %></span>
      <% qry.inline_columns.select{|c| MaterialsHelper.enabled_columns(c)}.sort{|a, b| @settings["#{a.name}_position"] <=> @settings["#{b.name}_position"] }.each do |column| -%>
          <div class="column" data-name=<%= column.name %>>
            <%= hidden_field_tag("settings[#{column.name}_enabled]", @settings["#{column.name}_enabled"] || 1) %>
            <%= hidden_field_tag("settings[#{column.name}_position]", @settings["#{column.name}_position"] || '-1') %>
            <%= column.caption -%>
          </div>
      <% end -%>
    </div>
  </fieldset>
  <fieldset class="columns-wrapper disabled">
    <legend><%= l(:label_columns_available) %></legend>
    <div class="columns disabled" data-state="disabled">
      <span><%= l(:label_drop_to_disable) %></span>
      <% qry.inline_columns.reject{|c| MaterialsHelper.enabled_columns(c)}.each do |column| -%>
          <div class="column" data-name=<%= column.name %>>
            <%= hidden_field_tag("settings[#{column.name}_enabled]", @settings["#{column.name}_enabled"] || 1) %>
            <%= hidden_field_tag("settings[#{column.name}_position]", @settings["#{column.name}_position"] || '-1') %>
            <%= column.caption -%>
          </div>
      <% end -%>
    </div>
  </fieldset>

</div>
<p>
  here comes columns
</p>

<script type="application/javascript">
  sortable(".columns.enabled, .columns.disabled", {
    forcePlaceholderSize: true,
    connectWith: 'connected',
    items: '.column',
  })[0].addEventListener('sortupdate', function (e) {
    var dd = e.detail
    var end_state = dd.endparent.dataset.state == 'disabled' ? 0 : 1
    var start_state = dd.startparent.dataset.state == 'disabled' ? 0 : 1
    var cross_lists = dd.endparent != dd.startparent


    for (i = 0; i < dd.newEndList.length; i++) {
      var item = dd.newEndList[i]
      var name = item.dataset.name
      var endis = document.getElementById('settings_' + name + '_enabled')
      var pos = document.getElementById('settings_' + name + '_position')

      endis.value = end_state
      pos.value = i + 1
    }

    if (cross_lists) {
      for (i = 0; i < dd.newStartList.length; i++) {
        var item = dd.newStartList[i]
        var name = item.dataset.name
        var endis = document.getElementById('settings_' + name + '_enabled')
        var pos = document.getElementById('settings_' + name + '_position')

        endis.value = start_state
        pos.value = i + 1
      }
    }

    /*

    This event is triggered when the user stopped sorting and the DOM position has changed.

    e.detail.item contains the current dragged element.
    e.detail.index contains the new index of the dragged element (considering only list items)
    e.detail.oldindex contains the old index of the dragged element (considering only list items)
    e.detail.elementIndex contains the new index of the dragged element (considering all items within sortable)
    e.detail.oldElementIndex contains the old index of the dragged element (considering all items within sortable)
    e.detail.startparent contains the element that the dragged item comes from
    e.detail.endparent contains the element that the dragged item was added to (new parent)
    e.detail.newEndList contains all elements in the list the dragged item was dragged to
    e.detail.newStartList contains all elements in the list the dragged item was dragged from
    e.detail.oldStartList contains all elements in the list the dragged item was dragged from BEFORE it was dragged from it
    */
  });
</script>