.icon-materials { background-image: url(../images/logo16.png); }

.icon-material-cycle-add { background-image: url(../images/cycleadd.png); }
.icon-material-cycle { background-image: url(../images/cycle.png); }
.icon-material-cycle-entry { background-image: url(../images/entry.png); }
.icon-material-cycle-middle { background-image: url(../images/middle.png); }
.icon-material-cycle-exit { background-image: url(../images/exit.png); }

form#issue_cycle_form {
}


.tab-wrapper {
    display: flex;
}
.columns-wrapper {
    flex: 1;
    overflow: auto;
}
.column {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ffc;
    margin: 2px;
    padding: 1px 4px;
}
.column label {
    float: none;
    margin-left: initial;
    width: initial;
    text-align: left;
}
.columns-wrapper .columns span {
    display: none;
}
.columns-wrapper .columns span:only-child {
    text-align: center;
    display: inline-block;
    width: 100%;
    color: gray;
    font-size: large;
}

/* sub material tree  */
.sub-material-tree, .sub-material-tree ul, .sub-material-tree li {
     position: relative;
}
.sub-material-tree .sub-materials {
    font-weight: bold;
}
.sub-material-tree ul {
    list-style: none;
    padding-left: 32px;
    margin: 0
}
.sub-material-tree li::before, .sub-material-tree li::after {
    content: "";
    position: absolute;
    left: -12px;
}
.sub-material-tree li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
}
.sub-material-tree li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}
.sub-material-tree ul > li:last-child::after {
    height: 8px;
}
