<ul>
    <% materials.each do |smaterial| -%>
        <li>
            <%= link_to(smaterial.name, project_material_path(smaterial.project, smaterial)) -%>
            <%#= link_to(smaterial.name, material_path(smaterial)) -%>
            <%#= smaterial.name %>
            <%= render partial: 'sub_material', locals: { materials: smaterial.sub_materials } if smaterial.sub_materials %>
        </li>
    <% end -%>
</ul>